.curs
{
    font-style: italic;
    margin-left: 25px;
}
span.zhcurs
{
    font-style: italic;
    font-weight: bold;
}
span.bold
{
    font-weight: bold;
}
ol
{
    list-style: lower-roman;
}
.u1
{
    list-style: square;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.u2
{
    list-style: disc;
    font-weight: 900;
}
body
{
    background-image: url(/img/xoAAAgNdkOA-1920.jpg);
    background-size: cover;
}